{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
      {% if title %}
      {{ title }} - Predicting Pandemic Trends
      {% else %}
      Predicting Pandemic Trends
      {% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar  navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="{{ url_for('predict_covid_deaths') }}">Predicting Pandemic Trends</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        </button>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('predict_covid_deaths') }}">Predict Covid Deaths</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('predict_gold_prices') }}">Predict Gold Prices</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="module">import * as library from './static/__target__/clientlibrary.js'; window.library = library;</script> 

{% endblock %}
